body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiList-root {
  padding: 0;
}

.MuiTextField-root textarea {
  font-family: Arial, sans-serif;
}

.MuiTextField-root.monospace textarea {
  font-family: 'Courier New', monospace;
}
